<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spulling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12DB20361C70CF3100FD8969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12DB204A1C70CF3100FD8969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12DB20551C70CF3100FD8969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
